:host{
  width: 100%;
  height: 100%;
}

app-file-input{
  width: 100%;
  height: 100%;


  div{
    width: 700px;
    height: 500px;
    margin: 200px;
    border: 2px black dashed;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
